body {
  background-color: black;
}
a {
  text-decoration: none;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header img {
  height: 100px;
}
.header button {
  background-color: black;
  color: white;
  height: 40px;
  border: none;
  text-decoration: none;
}
.header button:hover {
  cursor: pointer;
  text-decoration: underline white;
}
.searchbar-container {
  width: 30%;
}
.searchbar {
  text-align: center;
  width: 100%;
  border-radius: 36px;
  height: 70px;
  margin-top: 10px;
}
.menu {
  display: none;
}
.menu-toggle {
  display: none;
}
.menu-active {
  display: none;
}
/* Small devices (portrait phones, less than 576px) */
@media (max-width: 800px) {
  .header .menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #262626;
  }
  .head-button {
    display: none;
  }
  .menu-toggle {
    display: flex;
  }

  .menu-active {
    display: flex; /* Afficher le menu lorsque .active est appliqué */
    flex-direction: column;
  }

  .menu button {
    margin-bottom: 5px;
    background-color: #262626;
  }
  .searchbar {
    width: 30%;
  }
}
.menu-gauche {
  color: white;
  border: solid, 1px, white;
  background-color: black;
  width: 200px;
  height: 100%;
  margin-right: 50px;
  display: flex;
  justify-content: center;
}
.search-results {
  height: 200px;
  display: flex;
  justify-content: space-around;
  overflow: auto;
  background-color: lightgray;
  border: solid, 1px, black;
}
.search-results img {
  height: 50px;
  width: 50px;
}
.search-title {
  color: black;
  font-weight: bold;
  text-decoration: none;
  margin-left: 50px;
}
/*----------------END OF HEADER------------*/

/*----------------MAIN---------------------*/
main {
  display: flex;
  margin-top: 70px;
}

h1 {
  color: white;
  font-size: 72px;
  font-weight: bold;
}
.second-title {
  display: none;
}
p {
  color: white;
}
.game-div {
  color: white;
  background-color: white;
}
.game-list {
  display: flex;
  flex-wrap: wrap;
}
.game {
  margin-bottom: 20px;
  margin-left: 20px;
  width: 350px;
  background-color: #202020;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.game h2 {
  margin-bottom: 10px;
  color: white;
  font-size: 30px;
}
.filter {
  margin: 10px;
}

.game-image {
  height: 200px;
  width: 350px;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}
.platform-logo {
  height: 30px;
  width: 30px;
}
@media (max-width: 800px) {
  .main-title {
    display: none;
  }
  .second-title {
    display: flex;
  }
}
/*-------------------GAME PAGE-------------------*/
.main-game {
  display: flex;
  justify-content: space-between;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 100px;
  align-items: center;

  padding: 10px;
  color: white;
}
.main-game {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-game::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond semi-transparente */
  z-index: -1; /* Place le pseudo-élément derrière le contenu */
}

.game-container h1 {
  color: white;
}
.ratings {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.rating-bar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
  color: white;
  height: 50px;
  width: 200px;
}

.rating-bar h2 {
  margin-right: 10px;
}

.rating-bar span {
  margin-left: auto;
  padding-left: 10px;
}

.game-synopsis {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 10px;
  width: 400px;
  height: 200px;
  overflow: auto;
  margin: 10px;
}
h3 {
  font-size: 32px;
  margin: 20px;
}
.game-container2 {
  margin-right: 200px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.game-container2 img {
  height: 150px;
  width: 200px;
  margin: 5px;
  object-fit: cover;
}
.release {
  margin-bottom: 30px;
}
.release-span {
  background-color: white;
  color: black;
  margin-right: 30px;
  margin-bottom: 30px;
}
.add-buttons {
  margin: 20px;
  display: flex;
}
.add-buttons button {
  height: 60px;
  width: 150px;
  margin: 10px;
  color: white;
  background-color: black;
  border: 3px solid white;
  border-radius: 10px;
  font-size: 20px;
}
.add-buttons button:hover {
  border: 1px solid darkgrey;
  cursor: pointer;
  border-radius: 10px;
}
.comment-button {
  height: 60px;
  width: 150px;
  margin: 10px;
  color: #969595;
  background-color: #2c2c2c;
  border: none;
  font-size: 20px;
  border-radius: 10px;
}
.comment-button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
.desc-container {
  margin-top: 140px;
  display: flex;
  flex-wrap: wrap;

  background-color: gray;
}
h4 {
  margin: 5px;
  color: #969595;
}
.desc {
  width: 100px;
  margin: 10px;
  height: 70px;
  overflow: auto;
  background-color: #2c2c2c;
  border-radius: 10px;
  text-align: center;
  color: white;
}
li {
  margin-top: 10px;
}
.media img {
  width: 100px;
  height: 50px;
}
.status {
  font-style: italic;
  color: #969595;
}
.platform-list {
  color: white;
  display: flex;
  align-items: center;
}
.platform-list img {
  height: 60px;
  width: 60px;
  border-radius: 36px;
}
.platform-list img:hover {
  cursor: pointer;
  height: 90px;
  width: 90px;
}
.additionnal-images {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}
.additionnal-images img {
  border-radius: 10px;
  height: 100px;
  width: 100px;
}
.game-container-gauche2 {
  display: flex;
  border: solid, 4px, white;
  background-color: darkgrey;
  width: 100%;
  margin: 20px;
}

.gauche1 img {
  height: 300px;
  width: 500px;
  border-radius: 10px;
  padding: 10px;
}
.comment-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.require-desc {
  margin: 10px;
}

@media (max-width: 800px) {
  .main-game {
    display: flex;
    justify-content: center;
  }
  .gauche1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu-gauche {
    display: none;
  }
  .game-container-gauche2 {
    display: flex;
    flex-direction: column;
    width: 80vw;
  }
  .game-container-gauche2 img {
    width: 50vw;
    height: 25vw;
  }
  .game-container2 {
    display: none;
  }
  .add-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .add-buttons button {
    width: 75vw;
  }
  .comment-button-container {
    display: flex;
    flex-direction: column;
  }
  .comment-button-container button {
    width: 75vw;
  }
  .desc-container {
    display: flex;
    justify-content: center;
  }
}
.dlc-container {
  display: flex;
  flex-direction: column;
}
.dlc {
  margin: 5px;
  overflow: hidden;
  height: 150px;
  font-size: 20px;
  border-radius: 10px;
}
.dlc img {
  height: 130px;
  width: 400px;
  object-fit: cover;
  border-radius: 20px;
}
.dlc:hover {
  height: 300px;
  overflow: auto;
  border: 2px, solid, black;
  background-color: black;
  color: white;
}
.screen-list {
  display: flex;
  flex-wrap: wrap;
}
.screen-list img {
  height: 100px;
  width: 100px;
  margin-right: 10px;
}
